<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "Mailing lists" }) %>
</head>

<body>
<%- partial("partials/_nav.ejs", { title: "Mailing lists" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Mailing lists"}) %>

<section class="section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="page-section-title">Users</h2>
                <b>You are using StreamPipes and have problems, questions or feature requests? Then the community is happy to answer you on the user list.</b>
                <table class="table" style="margin-top:30px;">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Subscribe</th>
                        <th scope="col">Unsubscribe</th>
                        <th scope="col">Post</th>
                        <th scope="col">Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>users@streampipes.apache.org</td>
                        <td><a href="mailto:users-subscribe@streampipes.apache.org">Subscribe</a></td>
                        <td><a href="mailto:users-subscribe@streampipes.apache.org">Unsubscribe</a></td>
                        <td><a href="mailto:users@streampipes.apache.org">Post</a></td>
                        <td><a href="http://mail-archives.apache.org/mod_mbox/streampipes-users/">Archive</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
<section class="section-padding-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="page-section-title">Developers</h2>
                <b>If you are interested in contributing to StreamPipes, subscribe to our developer-oriented lists!</b>
                <table class="table" style="margin-top:30px;">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Subscribe</th>
                        <th scope="col">Unsubscribe</th>
                        <th scope="col">Post</th>
                        <th scope="col">Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>dev@streampipes.apache.org</td>
                        <td><a href="mailto:dev-subscribe@streampipes.apache.org">Subscribe</a></td>
                        <td><a href="mailto:dev-unsubscribe@streampipes.apache.org">Unsubscribe</a></td>
                        <td><a href="mailto:dev@streampipes.apache.org">Post</a></td>
                        <td><a href="http://mail-archives.apache.org/mod_mbox/streampipes-dev/">Archive</a></td>
                    </tr>
                    <tr>
                        <td>commits@streampipes.apache.org</td>
                        <td><a href="mailto:commits-subscribe@streampipes.apache.org">Subscribe</a></td>
                        <td><a href="mailto:commits-unsubscribe@streampipes.apache.org">Unsubscribe</a></td>
                        <td><a href="mailto:commits@streampipes.apache.org">Post</a></td>
                        <td><a href="http://mail-archives.apache.org/mod_mbox/streampipes-commits/">Archive</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>
