:root{
  --ifm-color-primary-lightest: #231A82;
  --ifm-color-primary-lighter: #1F1773;
  --ifm-color-primary-light: #1E166E;
  --ifm-color-primary: #1B1464;
  --ifm-color-primary-dark: #18125A;
  --ifm-color-primary-darker: #171155;
  --ifm-color-primary-darkest: #130E46;
}
