:root {
    --ifm-color-primary-lightest: #231A82;
    --ifm-color-primary-lighter: #1F1773;
    --ifm-color-primary-light: #1E166E;
    --ifm-color-primary: #1B1464;
    --ifm-color-primary-dark: #18125A;
    --ifm-color-primary-darker: #171155;
    --ifm-color-primary-darkest: #130E46;

    --color-primary: rgb(27, 20, 100);
    --color-accent: rgb(57, 181, 74);

    --color-primary-light: rgb(244, 244, 255);

    --ifm-navbar-height: 4.5rem;

    --ifm-heading-font-family: 'Roboto';
}

.navbar__logo {
    height: 3rem;
    margin-left: 0.25rem;
}

.background-primary {
    background: var(--color-primary);
}

.background-accent {
    background: var(--color-accent);
}

.background-primary-light {
    background: var(--color-primary-light);
}

.text-light {
    color: #fcfcfc;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-block;
}
