<div class="page-banner-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-banner-content">
                    <h2><%= title %></h2>
                </div>
            </div>
        </div>
    </div>
</div>