<li class="installation-step">
    <div class="row" style="align-items: center;justify-content: center;">
        <div class="col-md-1 col-3">
            <span class="fa-stack fa-2x">
                 <i class="fas fa-circle fa-stack-2x sp-color-green"></i>
                 <strong class="fa-stack-1x" style="color:white;">2</strong>
            </span>
        </div>
        <div class="col-md-11 col-9">
            In a command prompt, open the folder <code>compose/</code> and run <code>docker-compose up -d</code>
        </div>
    </div>
</li>