<li class="installation-step">
    <div class="row" style="align-items: center;justify-content: center;">
        <div class="col-md-1 col-3">
            <span class="fa-stack fa-2x">
                 <i class="fas fa-circle fa-stack-2x sp-color-green"></i>
                 <strong class="fa-stack-1x" style="color:white;">3</strong>
            </span>
        </div>
        <div class="col-md-11 col-9">
            When asked, select the version you would like to run (lite or full).
        </div>
    </div>
</li>