<footer class="footer-area clearfix">
    <div class="footer-section">
        <div class="footer-content-part">Disclaimer: Apache StreamPipes (incubating) is an effort undergoing incubation
            at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all
            newly accepted projects until a further review indicates that the infrastructure, communications, and
            decision making process have stabilized in a manner consistent with other successful ASF projects. While
            incubation status is not necessarily a reflection of the completeness or stability of the code, it does
            indicate that the project has yet to be fully endorsed by the ASF.
        </div>
        <div class="footer-content-part"><a href="https://www.apache.org/foundation/policies/privacy.html">Privacy</a></div>
        <p class="footer-content-part">Copyright © 2019 The Apache Software Foundation. Apache and the Apache feather
            logo are trademarks of The Apache Software Foundation
            <br/>Home screen image taken from <a
                    href="https://www.flickr.com/photos/56682936@N03/15572646535">Flickr</a>, licensed under <a
                    href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>, some logos removed.
        </p>

    </div>
</footer>

<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154181944-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154181944-1');
</script>

