<section class="main-section-area section-padding-50 clearfix" style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="/img/technology/streampipes-high-level-architecture-blue.png" alt="">
            </div>
            <div class="col-md-6 col-12">
                <div class="section-heading">
                    <p style="color:white;">StreamPipes</p>
                    <h2>Self-Service IoT Data Analytics</h2>
                </div>
                <div class="features-content">
                    <p style="color:white;">
                        StreamPipes is the first solution that makes real-time big data accessible to everyone: Our graphical modeler allows business analysts to define processing pipelines in an ad-hoc manner, without the need for big data experts or data scientists.
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>