<section class="d-sm-flex clearfix">
    <div class="support-links-area">
        <div class="more-service-content text-center" data-wow-delay=".1s">
            <a href="https://www.github.com/apache/streampipes">
                <img src="/img/open_source/icon-github.png" alt="">
                <h4>Github</h4>
            </a>
        </div>
    </div>
    <div class="support-links-area">
        <div class="text-center" data-wow-delay=".4s">
            <a href="/docs/index.html">
                <img src="/img/open_source/icon-docs.png" alt="">
                <h4>Documentation</h4>
            </a>
        </div>
    </div>
    <div class="support-links-area">
        <div class="text-center" data-wow-delay=".7s">
            <a href="https://hub.docker.com/u/apachestreampipes">
                <img src="/img/open_source/icon-docker.png" alt="">
                <h4>Docker Hub</h4>
            </a>
        </div>
    </div>
    <div class="support-links-area">
        <div class="text-center" data-wow-delay="1s">
            <a href="https://stackoverflow.com/questions/tagged/streampipes">
                <img src="/img/open_source/icon-stackoverflow.png" alt="">
                <h4>Stack Overflow</h4>
            </a>
        </div>
    </div>
    <div class="support-links-area">
        <div class="text-center wow fadeInUp" data-wow-delay="1s">
            <a href="/mailinglists.html">
                <img src="/img/open_source/icon-mail.png" alt="">
                <h4>Mailing Lists</h4>
            </a>
        </div>
    </div>
</section>
