<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <!-- Single Service Area -->
                <div class="single-service-area">
                    <h2>01.</h2>
                    <h4>Connect</h4>
                    <p>Integrate data sets and data streams using the built-in StreamPipes Connect library with support for generic protocols such as HTTP, Kafka, MQTT, OPC-UA, Files or specific adapters for open data sources.</p>
                    <hr/>
                    <p><b>Some included adapters and integrations:</b></p>
                    <p>
                        <a href="https://kafka.apache.org">Apache Kafka</a>,
                        <a href="https://pulsar.apache.org">Apache Pulsar</a>,
                        <a href="https://plc4x.apache.org">Apache PLC4X</a>,
                        <a href="https://www.ros.org">Robot Operating System (ROS)</a>,
                        Mysql, OPC-UA, MQTT and more.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <img class="d-block w-100" src="/img/screenshots/connect-marketplace.png" alt="StreamPipes Connect">
            </div>
        </div>
        <hr style="margin-top:20px;margin-bottom:20px;"/>
        <div class="row">
            <div class="col-md-4 col-12">
                <!-- Single Service Area -->
                <div class="single-service-area">
                    <h2>02.</h2>
                    <h4>Analyze</h4>
                    <p>Harmonize and analyze data by using the real-time algorithm toolbox ranging from simple filters up to pre-trained neural networks - or build your own algorithm with the provided SDK.</p>
                    <hr/>
                    <p><b>Some included data processors:</b></p>
                    <p>
                        Trend Detection, Peak Detection, Numerical Filter, Sequence, Boilerplate Removal, Event Rate, Field Converter, Frequency Calculation,
                        Generic image Classification, Measurement Unit Converter, Projection, Timestamp Enricher, Trigonometry Functions and many more.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <img class="d-block w-100" src="/img/screenshots/pipeline-editor-2.png" alt="Pipeline Editor">
            </div>
        </div>
        <hr style="margin-top:20px;margin-bottom:20px;"/>
        <div class="row">
            <div class="col-md-4 col-12">
                <!-- Single Service Area -->
                <div class="single-service-area">
                    <h2>03.</h2>
                    <h4>Exploit</h4>
                    <p>Trigger notifications, configure your real-time dashboard or send data to third-party systems such as databases (e.g., Kafka or Elasticsearch), external services (e.g., Slack) or IoT actuators.</p>
                    <hr/>
                    <p><b>Some included data sinks:</b></p>
                    <p>
                        <a href="https://kafka.apache.org">Apache Kafka</a>,
                        <a href="https://pulsar.apache.org">Apache Pulsar</a>,
                        <a href="https://couchdb.apache.org">Apache CouchDB</a>,
                        <a href="https://iotdb.apache.org">Apache IoTDB</a>,
                        OPC-UA, RabbitMQ, Email, Slack, Internal Notification, PostgreSQL and more.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <img class="d-block w-100" src="/img/screenshots/live-dashboard.png" alt="Live Dashboard">
            </div>
        </div>
        <!-- Discover More btn -->
        <div class="col-12 text-center margin-top-50">
            <a href="/features.html" class="btn sp-button sp-button-blue">Explore the features</a>
        </div>
    </div>
    </div>
</section>