
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Apache StreamPipes is a self-service (Industrial) IoT toolbox to enable non-technical users to connect, analyze and explore IIoT data streams">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="/img/favicon/favicon.png">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/pe.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/page-banner.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/team.css">
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/fonts.css">
<link href="/css/responsive.css" rel="stylesheet">

<script>
      var _paq = window._paq = window._paq || [];
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.apache.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '35']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
</script>


<title>Apache StreamPipes - <%= title %></title>
