
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Apache StreamPipes is a self-service (Industrial) IoT toolbox to enable non-technical users to connect, analyze and explore IIoT data streams">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="/img/favicon/favicon.png">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/pe.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/page-banner.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/buttons.css">
<link rel="stylesheet" href="/css/team.css">
<link rel="stylesheet" href="/css/all.min.css">
<link rel="stylesheet" href="/css/fonts.css">
<link href="/css/responsive.css" rel="stylesheet">

<title>Apache StreamPipes (incubating) - <%= title %></title>
