<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "Features" }) %>
</head>

<body>

<%- partial("partials/_nav.ejs", { title: "Features" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Features"}) %>

<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-section-title">Flexible Data Pipelines</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Easy to use.</span> Web-based user interface to create stream processing pipelines in a graphical editor. %>
                                </h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Powerful.</span> Select data streams, add transformation modules and choose a data sink. StreamPipes cares about execution details of your pipeline. %>
                                </h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Intelligent.</span> Our built-in semantics recommend you elements you can connect and disallow you to connect elements that wo not work. %>
                                </h5></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <img src="/img/screenshots/pipeline-editor-2.png">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="elements-area section-padding-50 feature-section-gray">
    <div class="container">
        <div class="row feature-section">
            <div class="col-12">
                <h2 class="page-section-title">Quickly connect IoT data with StreamPipes Connect.</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="/img/screenshots/connect-marketplace.png" style="margin-bottom:20px;">
                    </div>
                    <div class="col-md-6 col-12">
                        <ul>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Streams & Sets</span>
                                    StreamPipes Connect supports both data sets and real-time data streams.</h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Generic adapters</span>
                                    StreamPipes Connect includes a variety of adapters for popular communication protocols and technologies such as HTTP/REST, MQTT, Kafka, OPC UA or ROS. Adapters can be easily configured right from the user interface - without any coding skills.
                                </h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">APIs</span>
                                    In addition, Web APIs (e.g., Slack, Wikipedia or open data sources) can be used to ingest data into StreamPipes. Specific adapters can be exported and shared.
                                </h5>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row feature-section">
            <div class="col-12">
                <h2 class="page-section-title">Rich set of data processors and data sinks.</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="col-12">
                                <h3>Data Processors</h3>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/Aggregation_Icon_HQ.png"
                                         class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                        <img src="/img/integrations/Counter_Icon_HQ.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/And_Icon_HQ.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/field_converter.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/field-hasher-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/statistics-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/Numerical_Filter_Icon_HQ.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/increase-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/math-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-processor">
                                    <img src="/img/integrations/NeuralNetwork.png" class="pe-icon">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-12">
                                <ul>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Filter, Aggregate, Enrich.</span> You need less data, more data or other data? Stateless processing components transform your input streams. %>
                                        </h5></li>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Advanced Analytics.</span> Advanced methods (e.g., ML-algorithms) can be used as pipeline elements. %>
                                        </h5></li>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Pattern Detection.</span> We have developed modules supporting pattern detection, e.g., detection of sequences over time. %>
                                        </h5></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-12"><div class="row">
                            <div class="col-12">
                                <h3>Data Sinks</h3>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/kafka_logo.png"
                                         class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/mysql.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/postgres.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/rabbitmq-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/alarm_light.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/elasticsearch_icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/hadoop-icon.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/influx.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/email.png" class="pe-icon">
                                </div>
                                <div class="pe-icon-container pe-icon-sink">
                                    <img src="/img/integrations/slack-icon.png" class="pe-icon">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-12">
                                <ul>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Visualize.</span> Create real-time visualizations and observe your KPIs and production systems from web-based cockpits. %>
                                        </h5></li>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Notify.</span> Detect problems or other situations of interest and notify the people in your organization who need to be informed. %>
                                        </h5></li>
                                    <li><h5 class="feature-item-margin">
                                            <span class="feature-highlights-bg">Store.</span> Harmonize your data stream and store it in third-party systems, e.g. for offline analysis. We have adapters for Elasticsearch, HDFS, Cassandra and NoSQL databases. %>
                                        </h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elements-area section-padding-50 feature-section-gray">
    <div class="container">
        <div class="row feature-section">
            <div class="col-12">
                <h2 class="page-section-title">Visualize Live Data.</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="/img/screenshots/live-dashboard.png" style="margin-bottom:20px;">
                    </div>
                    <div class="col-md-6 col-12">
                        <ul>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Real-Time Dashboard.</span> To quickly gather insights, pipelines can make use of the real-time dashboard to visualize live data. %>
                                </h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Charts.</span> The live dashboard includes several chart types such as line charts, traffic lights, gauges, tables and number values. %>
                                </h5></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row feature-section">
            <div class="col-12">
                <h2 class="page-section-title">Easy to extend with the built-in SDK.</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img src="/img/screenshots/pipeline-element-marketplace.png" style="margin-bottom:20px;">

                    </div>
                    <div class="col-md-6 col-12">
                        <ul>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">Analytics Microservices.</span> Pipeline elements in StreamPipes are encapsulated as standalone microservices. This makes it easy to add new pipeline elements once new requirements arise. Data processors and sinks can be easily installed from the Pipeline Element Marketplace. %>
                                </h5></li>
                            <li><h5 class="feature-item-margin">
                                    <span class="feature-highlights-bg">SDK.</span> The developer-oriented Software Development Kit (SDK) and Maven archetypes make it easy to create new processing elements using one of several available wrappers (e.g., Standalone, Apache Flink and Apache Spark). %>
                                </h5></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>