<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", {title: "Get involved"}) %>
</head>

<body>
<%- partial("partials/_nav.ejs", {title: "Get involved"}) %>

<%- partial("partials/_breadcumb.ejs", {title: "Get involved"}) %>

<section class="section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="page-section-title">Contributing</h2>
                <div>
                    <b>We welcome contributors!</b>
                    <p>There are many ways to help. Become part of a highly motivated community and help growing
                        StreamPipes:</p>
                    <ul>
                        <li><i class="fas fa-check sp-color-green"></i> Submit a bug report on <a href="https://github.com/apache/streampipes/issues">GitHub</a></li>
                        <li><i class="fas fa-check sp-color-green"></i> Subscribe to our <a href="/mailinglists.html">mailing lists</a></li>
                        <li><i class="fas fa-check sp-color-green"></i> Create a pull request on Github</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding-100-0" style="margin-bottom:30px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="page-section-title">Source Code</h2>
                <div>
                    <b>Currently, the following source code repositories are available on Github:</b>
                    <table class="table" style="margin-top:30px;">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Link</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>streampipes</td>
                            <td>StreamPipes Backend + UI</td>
                            <td><a href="https://www.github.com/apache/streampipes">Link</a></td>
                        </tr>
                        <tr>
                            <td>streampipes-website</td>
                            <td>StreamPipes Website + Docs</td>
                            <td><a href="https://www.github.com/apache/streampipes-website">Link</a></td>
                        </tr>
                        <tr>
                            <td>streampipes-examples</td>
                            <td>StreamPipes Examples</td>
                            <td><a href="https://www.github.com/apache/streampipes-examples">Link</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>
