<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "Media" }) %>
</head>

<body>

<%- partial("partials/_nav.ejs", { title: "Media" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Media"}) %>

<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row">
            <!-- ========== Buttons ========== -->
            <div class="col-12">
                <h2 class="page-section-title">Slides</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="row"><h4 style="width:100%;text-align:center;">ApacheCon @Home 2020</h4>
                        </div>
                        <div class="row">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/ft2kr7YEN28kBs" width="595"
                                    height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                                    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                                    allowfullscreen></iframe>
                            <div style="margin-bottom:5px"><strong> <a
                                            href="//www.slideshare.net/streampipes/apache-streampipes-flexible-industrial-iot-management"
                                            title="Apache StreamPipes – Flexible Industrial IoT Management" target="_blank">Apache StreamPipes – Flexible 
                                            Industrial IoT Management</a> </strong> from <strong><a
                                            href="https://www.slideshare.net/streampipes"
                                            target="_blank">StreamPipes</a></strong></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row"><h4 style="width:100%;text-align:center;">ApacheCon North America 2019</h4>
                        </div>
                        <div class="row">
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/3p8BjRumH6ciac" width="595"
                                    height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                                    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                                    allowfullscreen></iframe>
                            <div style="margin-bottom:5px"><strong> <a
                                            href="//www.slideshare.net/streampipes/selfservice-iot-data-analytics-with-streampipes"
                                            title="Self-Service IoT Data Analytics with StreamPipes" target="_blank">Self-Service
                                        IoT Data Analytics with StreamPipes</a> </strong> from <strong><a
                                            href="https://www.slideshare.net/streampipes"
                                            target="_blank">StreamPipes</a></strong></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row"><h4 style="width:100%;text-align:center;">Flink Forward Europe 2019</h4></div>
                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/2plin5oBtYekaL" width="595"
                                height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                                style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                                allowfullscreen></iframe>
                        <div class="row">
                            <div style="margin-bottom:5px"><strong> <a
                                            href="//www.slideshare.net/streampipes/flink-for-everyone-selfservice-data-analytics-with-streampipes"
                                            title="Flink for Everyone: Self-Service Data Analytics with StreamPipes"
                                            target="_blank">Flink for Everyone: Self-Service Data Analytics with
                                        StreamPipes</a> </strong> from <strong><a
                                            href="https://www.slideshare.net/streampipes"
                                            target="_blank">StreamPipes</a></strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-section-title">Videos</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="row"><h4 style="width:100%;text-align:center;">Flink Forward Europe 2019</h4></div>
                        <div class="row">
                            <div class="col-12">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/mlbPYBjXosA"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen style="display:block;margin:auto;">
                            </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row"><h4 style="width:100%;text-align:center;">Webinar pragmatic industries (in german)</h4></div>
                        <div class="row">
                            <div class="col-12">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/YdROZ0C6Qd0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen style="display:block;margin:auto;"></iframe>
                            </iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>