<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "Events" }) %>
</head>

<body>
<%- partial("partials/_nav.ejs", { title: "Events" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Events"}) %>

<section class="section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="page-section-title">Meet us</h2>
                <h4>Here are a few options to attend talks and events around StreamPipes:</h4>
                <div class="event-list" style="margin-top:20px;margin-bottom:20px;">
                <ul>
                    <li><b><a href="https://www.meetup.com/de-DE/inovex-karlsruhe/events/265766486/">Inovex Meetup Karlsruhe</a></b>, Karlsruhe, 12.11.2019</li>
                    <li><b>Motek - Internationale Fachmesse für Produktions- und Montageautomatisierung</b>, Messe Stuttgart, 07.-10.10.2019</li>
                    <li><b><a href="https://europe-2019.flink-forward.org/conference-program#flink-for-everyone--self-service-data-analytics-with-streampipes">FlinkForward Europe</a></b>, bcc Berlin Congress Center, Berlin, 08.10.2019</li>
                    <li><b>mFUND-Konferenz</b>, Allianz Forum, Berlin, 26.09.2019 </li>
                    <li><b><a href="https://www.apachecon.com/acna19/s/#/scheduledEvent/1077">ApacheCon North America</a></b>, The Flamingo Hotel, Las Vegas, 10.09.2019</li>
                    <li><b>Leichtbau meets KI</b>, Hochleistungsrechenzentrum, Stuttgart, 24.06.2019</li>
                    <li><b>DevCamp</b>, FZI, Karlsruhe, 24.05.2019</li>
                    <li><b>ACM CCGRID</b>, Golden Beach Hotel, Larnaca, 14.-17.05.2019</li>
                    <li><b>IT-Innovationen in der Produktion</b>, FZI, Karlsruhe, 11.04.2019</li>
                    <li><b>Hannover Messe</b>, Hannover, 01.-05.04.2019</li>
                    <li><b>GOR Working Group Analytics</b>, Roland Berger/Spielfeld Digital Hub, Berlin, 29.03.2019</li>
                    <li><b>FZI Open House</b>, FZI, Karlsruhe, 21.02.2019</li>
                    <li><b>IEEE Big Data</b>, The Westin Seattle, Seattle, 10.12.2018</li>
                    <li><b>mFUND-Konferenz</b>, WECC, Berlin, 16.10.2018</li>
                    <li><b>Code_N Festival</b>, Hanns-Martin-Schleyer-Halle, Stuttgart, 09.10.2018</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>