<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "About" }) %>
</head>

<body>

<%- partial("partials/_nav.ejs", { title: "Team" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Team"}) %>

<section class="section-padding-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="page-section-title">StreamPipes Committers</h2>
                <h5 class="section-subtitle">Current committers, sorted by last name:</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="img/about/bossenmaier.jpg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Tim Bossenmaier</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/dutz.jpg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Christofer Dutz</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/ebi.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Daniel Ebi</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/gomm.jpg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Daniel Gomm</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/john.jpg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Felix John</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/micklich.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Florian Micklich</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/oehler.jpg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Sven Oehler</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/grainier.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Grainier Perera</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/riemer.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Dominik Riemer</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/su.jpeg" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Steve Yurong Su</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/tex.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Johannes Tex</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="https://avatars0.githubusercontent.com/u/6711230?s=460&amp;u=b8f03cad5891dbe4eab23ca75df3d97358b23b0c&amp;v=4" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Xin Wang</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/wiener.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Patrick Wiener</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="https://people.apache.org/~zike/me/portrait.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Zike Yang</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="single-team-slide text-center">
                    <div class="team-thumbnail">
                        <img src="/img/about/zehnder.png" alt="">
                    </div>
                    <div class="team-member-name">
                        <h4>Philipp Zehnder</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- partial("partials/_footer.ejs") %>
</body>

</html>
