/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.sp-button {
    display: inline-block ;
    vertical-align: middle;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0.75em 1.25em;
    margin-right:0.125em;
    margin-left: 0.125em;
    margin-top:0px;
}

.sp-button-large {
    font-size: 1.0em;
    padding: 1em 1.0em;
}

.sp-button.sp-button-blue:hover {
    background: rgb(59, 92, 149);
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-gray:hover {
    background: #cbcbcb;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.sp-button.sp-button-gray {
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.75);
}

.sp-button.sp-button-blue {
    background: rgb(27, 20, 100);
    color: rgba(255, 255, 255, 0.75);
}