.page-banner-area {
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 160px;
    background: linear-gradient(0deg,rgba(57, 181, 74, 0.8),rgba(57, 181, 74, 0.8)), url('/img/bg-img/bg-index.jpg');
    background-size:cover;
    color:white;
}

.page-banner-content h2 {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 68px;
}

