name: Build and Deploy

on:
  push:
    branches:
      - master
jobs:
  build-and-push-to-asf-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.1.0
      - name: Build Website
        run: |
          npm install
          npm run build-website
      - name: Copy asf yaml
        run: |
          cp .asf.yaml build
      - name: Copy htaccess
        run: |
          cp .htaccess build
      - name: Build Docs
        run: |
          mkdir ./build/docs
          cd documentation/website
          npm install
          npm run build
          cp -r build/streampipes-docs/* ../../build/docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: asf-site
          PUBLISH_DIR: ./build
